'''
*** Rename this file to keys.py and fill in your own keys ***

you must register for an API key separately for each ideascale
site. the url for API documentation and registration is at:

[agency_site_name].ideascale.com/a/ideascaleStatic.do?mode=api

eg: opennasa.ideascale.com/a/ideascaleStatic.do?mode=api

'''

# API keys for each agency's ideascale site
api_keys = {
    "usaid": "your key here...",
    "comm":"your key here...",
    "dod": "your key here...",
    "ed": "your key here...",
    "energy": "your key here...",
    "nasa":"your key here...",   
    'dot': "your key here...",
    "int": "your key here...",
    "va": "your key here...",
    "treas": "your key here...",
    "gsa": "your key here...",
    "opm": "your key here...",
    "labor": "your key here...",
    "doj": "your key here...",
    "ssa": "your key here...",
    "state": "your key here...",
    "nsf": "your key here...",
    "hud": "your key here...",
    "epa": "your key here...",
    "sba": "your key here...",
    "dhs": "your key here...",
    "nrc": "your key here...",
    "ostp": "your key here...",
}
