/* @override http://10.0.1.28/nasaprofiles/style.css */

body {
	font-family: arial, sans-serif;
	font-size: 12px;
	border: 0;
	color: #404040;
	padding-bottom: 30px;
	margin: 0;
	background: #e8ecdc;
    
}


#header {
    padding:50px 100px;   
    height:300px; 
    margin: 0 auto; 
    width:1000px;
}

#title {
    margin-left:-30px;
    margin-top: -325px;
    font-size: 150%;
    font-weight: bold; 
    position: relative;
}

#stat_box{
    margin-left: 50px;
    margin-top: 30px;
    height: 80px;
    font-size: 150%;
    width: 900px;
    position: relative;
}

.stat {
    width: 200px;
    height: 80px;
    margin: 0px 10px;
    float: left;    
}

.stat_description {
    font-size:16px;
    text-align:center;
}

.big_num {
    font-size: 400%;
    font-weight: bold;
    text-align:center;
}

h1 {
    font-family: century gothic;
	background: #0F222C;
	padding: 30px 0 10px 20px;
	color: #fff;
	width: 300px;
	margin: 0;
}

h2 {
	font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.h2 {
	font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.h2_web {
	font-family: arial, sans-serif;
    font-size: 16px;
    color:#1CACC4;
}

h3 {
	font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

h5 {
    font-family: century;
    font-size: 42px;
    font-style: bold;
    color: #404040;
    margin-top: 40px; 
    margin-bottom: 0px;   
}

h6 {
    font-family: century;
    font-size: 20px;
    font-style: italic;
    color: #404040;   
    margin-bottom: 70px; 
    margin-top: 0px;
}

ul#nav {
	list-style: none;
	background: #000;
	display: block;
	float: left;
	height: 35px;
	padding: 0;
	width: 100%;
	margin: 15px 0;
}

ul#nav li {
	float: left;
}

ul#nav li a {
	color: #C0CDCF;
	display: block;
	padding: 10px 30px;
	border-right: 1px solid #555;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}

ul#nav li a:hover {
	color: #fff;
}

span.fn {
	font-size: 36px;
	font-weight: bold;
	float: left;
	display: block;
}

#footer {
	clear: both;
}

#categories {
	width: 1000px;
	height: 375px;
	float: left;
    margin: 20px 100px;
    margin: 0 auto; 
    width:1000px;
}

.section_title {
    margin-top: -30px; 
    margin-left: -25px;
    font-weight: bold; 
}

.category {
    width: 200px;
    height: 300px;
    float: left;
    margin: 25px;
}

.category_title {
    font-size: 200%;
    width: 200px;
    height: 30px;
    margin: 5px;
    font-weight: bold;
}

.category_idea_title {
    font-size: 150%;
    width: 200px;
    margin: 5px;
}

.category_author {
    font-weight: bold;
    width: 200px;
    margin: 5px;
    height: 15px;
}

.category_idea_text {
    width: 200px;
    height: 130px;
    margin: 5px;  
}

.category_agency {
    width: 55px;
    height: 55px;
    margin: 5px 20px 0px 0px;
    float: left;
}

.category_num {
    font-size: 250%;
    width: 40px;
    text-align: center;
    height: 30px;
    margin: 5px 10px;
    float: left;
}

.category_num_title{
    width: 40px;
    text-align: center;
    margin: 5px 10px;
    float: left;
}

.agency {
    background-color: #DBE0CB;
    padding: 20px 100px;
    float: left;
    margin: 0 auto; 
    width:1000px;
}

#endpoints {
    background-color: gray;
    width: 1000px;
    float: left;
    margin: auto;
    margin: 0 auto; 
    width:1000px;
    
}

#doing_great {
    width: 500px;
    float: left;        
}

#needs_love {
    width: 500px;
    float: left;
}

.otherInfo ul {
    padding: 0;
}

#footer {
    color: #ccc;
    border-top: 1px dotted #999;
    margin: 0 auto; 
    width:1000px;
}

#footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 120%;
}

#footer li {
    float: left;
    margin-right: 10px;
}

#footer li a {
    color: #;
}

a {
    color: #1cacc4;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}


