<html>
  <head>
    <title>Federal Agency Ideascale Dashboard</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script> 
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/js/ogt.js"></script> 
  </head>
  
  <body>
    <div id="header">
      <div class="container">
        <div id="header_spacer">
        </div>
        <div id="participation_chart">
          <img src="{{ participation_chart }}">
        </div>
        <div id="title_header">
          <div id="title">
            <h1>
              <a href="http://www.twitter.com/opengovtracker"><img src="http://twitter-badges.s3.amazonaws.com/follow_me-c.png" alt="Follow OpenGov Tracker on Twitter" style="margin-bottom: 11px; margin-top: -21px; top: -24px;" /></a>
              <br />
              OpenGov Tracker
            </h1>
          </div>
          <div id="title_description">
            <h3>Something exciting is happening: the U.S. government is opening up.</h3>
            <p>To satisfy the <a href="http://www.whitehouse.gov/omb/assets/memoranda_2010/m10-06.pdf">Open Government Directive</a> agencies are soliciting your ideas on how to make them more transparent, participatory, collaborative and innovative.</p>
            <h3>If you use your voice, it will be here to stay.  Get involved.</h3>
          </div>         
        </div>
        <div id="stat_box">
          <div class="stat">
            <div class="big_num">
              {{ total_ideas }}
            </div>
            <div class="stat_description">
              Ideas
            </div>
          </div>
          <div class="stat">
            <div class="big_num">
              {{ total_votes }}
            </div>
            <div class="stat_description">
              Votes
            </div>
          </div>
          <div class="stat">
            <div class="big_num">
              {{ total_comments }}
            </div>
            <div class="stat_description">
              Comments
            </div>
          </div>
          <div class="stat">
            <div class="big_num">
              {{ days_to_go }}
            </div>
            <div class="stat_description">
              Days to Go
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <div id="categories">
      <div class="container">
	<div class="section_title">
          <h1>Top Ideas Across Government</h1>
	</div>
	{% for category, idea_info in top_ideas_by_category.iteritems() %}

	<div class="category">
          <div class="category_title">
            {{ category.title() }}
          </div>
          <div class="category_idea_title">
	    <a href="{{ idea_info['idea']['url'] }}" title="Click to visit this idea"> 
	      {{ truncate_words(idea_info['idea']['title'], 9, 50) }} 
	    </a>
          </div>
          <div class="category_author">
	    <a href="{{ idea_info['idea']['authorInfo']['url'] }}">	     
	      {{ idea_info['idea']['author'].title() }}
	    </a>
          </div>
          <div class="category_idea_text">
	    {{ truncate_words(idea_info['idea']['text'], 35, 210) }}
          </div>
          <div class="category_agency">
            <img src="{{ get_logo(idea_info['agency']) }}" align="left" width="50" height="50">
		        <a href="{{ open_pages[idea_info['agency']] }}">{{ display(idea_info['agency']) }}</a>
          </div>
          <div class="category_num">
	    {{ idea_info['votes'] }}
          </div>
          <div class="category_num">
	    {{ idea_info['comments'] }}
          </div>
          <div class="category_num_title">
            Votes
          </div>
          <div class="category_num_title">
            Comments
          </div>
	</div>
	{% end %}
      </div>
    </div>
    
    <div id="endpoints">
      <div class="container">      
        <div id="doing_great">
          <div class="section_title">
            <h1>Doing Great</h1>
          </div>    
          <p>These are the agencies with the most activity. Great job!</p>
          <h3>Most Ideas Total</h3>
	  <div class="endpoints_content">
	  <img src="{{ get_logo(most_ideas['agency']) }}" class="endpoints_img">
          <a href="{{ ideascale_link[most_ideas['agency']] }}">{{ display(most_ideas['agency']) }}</a> : {{ most_ideas['count'] }}
          </div>

          <h3>Most Votes Total</h3>
	  <div class="endpoints_content">
	  <img src="{{ get_logo(most_votes['agency']) }}" class="endpoints_img">
          <a href="{{ ideascale_link[most_votes['agency']] }}">{{ display(most_votes['agency']) }}</a> : {{ most_votes['count'] }} 
	  </div>
          
          <h3>Most Comments Total</h3>
	  <div class="endpoints_content">
	  <img src="{{ get_logo(most_comments['agency']) }}" class="endpoints_img">
          <a href="{{ ideascale_link[most_comments['agency']] }}">{{ display(most_comments['agency']) }}</a> : {{ most_comments['count'] }} 
          </div>
        </div>

        <div id="needs_love">
          <div class="section_title">
            <h1>Needs Some Love</h1>
          </div>
          <p>These agencies don't have a lot of input. They need some love. Please
          help!</p>
          <h3>Least Ideas Total</h3>
	  <div class="endpoints_content">
	  <img src="{{ get_logo(least_ideas['agency']) }}" class="endpoints_img">
          <a href="{{ ideascale_link[least_ideas['agency']] }}">{{ display(least_ideas['agency']) }}</a> : {{ least_ideas['count'] }} 
          </div>
          <h3>Least Votes Total</h3>
	  <div class="endpoints_content">
	  <img src="{{ get_logo(least_votes['agency']) }}" class="endpoints_img">
          <a href="{{ ideascale_link[least_votes['agency']] }}">{{ display(least_votes['agency']) }}</a> : {{ least_votes['count'] }} 
          </div>
          <h3>Least Comments Total</h3>
	  <div class="endpoints_content">
	  <img src="{{ get_logo(least_comments['agency']) }}" class="endpoints_img">
          <a href="{{ ideascale_link[least_comments['agency']] }}">{{ display(least_comments['agency']) }}</a> : {{ least_comments['count'] }} 
          </div>
        </div>
      </div>
    </div>
   
    {% include "agency_report.html" %}    

    <div id="footer">  
      <div class="container">
	<p><i>This webpage makes use of
	the <a href="http://www.ideascale.com/">IdeaScale</a> API to
	aggregate data for all agencies which are making use of that
	platform. <a href="http://usda.gov/open/">USDA</a> and
	<a href="http://www.hhs.gov/open/discussion/">Health and Human
	Services</a> also have public feedback sites; however they are
	not using IdeaScale and so unfortunately, are not included
	here. We encourage you to visit their sites, too! </i></p>
	<p><i>Totals reflect all ideas including those submitted to
	the "Site Feedback" category. The "Top Ideas Across
	Government" section only highlights ideas in the categories of
	Transparency, Participation, Collaboration, and Innovation--
	eg., those related to the Open Government Plans
	themselves. </i></p>
	<div id="footer_credits"><a href="http://github.com/jessykate/IdeaScale-Dashboard">Site</a>
	created
	by <a href="http://twitter.com/schingler">@schingler</a>
	and <a href="http://twitter.com/jessykate">@jessykate</a>
	during Washington, DC's #snowmageddon, 2010.</div>
	<div>Data current as of {{ last_updated }}</div>
      </div>
    </div>     
    <script type="text/javascript">
    var uservoiceOptions = {
      /* required */
      key: 'opengovtracker',
      host: 'opengovtracker.uservoice.com', 
      forum: '40747',
      showTab: true,  
      /* optional */
      alignment: 'right',
      background_color:'#ff0066', 
      text_color: 'white',
      hover_color: '#996666',
      lang: 'en'
    };

    function _loadUserVoice() {
      var s = document.createElement('script');
      s.setAttribute('type', 'text/javascript');
      s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
      document.getElementsByTagName('head')[0].appendChild(s);
    }
    _loadSuper = window.onload;
    window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    </script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-13008953-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>

  </body>
</html>
