<html>
  <head>
    <title>Federal Agency Ideascale Dashboard</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
  </head>
  
  <body>
    <div id="header">
      <div id="title">
        <h1> OpenGov Tracker</h1>
      </div>
      <div id="stat_box">
        <div id="stat">
          <div id="stat_description">
            Ideas
          </div>
          <div id="big_num">
            576
          </div>
        </div>
        <div id="stat">
          <div id="stat_description">
            Votes
          </div>
          <div id="big_num">
            18523
          </div>
        </div>
        <div id="stat">
          <div id="stat_description">
            Comments
          </div>
          <div id="big_num">
            218
          </div>
        </div>
        <div id="stat">
          <div id="stat_description">
            Days to Go
          </div>
          <div id="big_num">
            35
          </div>
        </div>
      </div>
      <div id="title_chart">
        <img src="{{ participation_chart }}">
      </div>
    </div>
  
    <div id="categories">
      <h1>Top Ideas</h1>
      {% for category, idea_info in top_ideas.iteritems() %}
      <div id="category">
        <div id="category_title">
          {{ category }}
        </div>
        <div id="category_idea">
          <p>{{ idea_info }}</p>
        </div>
      {% end %}
    </div>
  
    <div id="agency">
      <h1>Stats by Agency</h1>
      {% for agency, stats in stats_by_agency.iteritems() %}
      <h2>{{ agency }}</h2>
      {% for stat, data in stats.iteritems() %}
      <h3>Total {{ stat }} </h3>
      <p>{{ data }}</h3>
      <br />
      {% end %}
      {% end %}
      
    </div>
   
  

    <h1>Needs Some Love</h1>
    <p>These agencies dont have a lot of input. They need some love. Please
    help!</p>
    <h3>Least Ideas Total</h3>
    {{ least_ideas['agency'] }} : {{ least_ideas['count'] }} 
    <br />
    <h3>Least Votes Total</h3>
    {{ least_votes['agency'] }} : {{ least_votes['count'] }} 
    <br />
    <h3>Least Comments Total</h3>
    {{ least_comments['agency'] }} : {{ least_comments['count'] }} 
    <br />



    <h1>Other Stats by Agency</h1>
    {% for agency, stats in stats_by_agency.iteritems() %}
    <h2>{{ agency }}</h2>
    {% for stat, data in stats.iteritems() %}
    <h3>Total {{ stat }} </h3>
    <p>{{ data }}</h3>
    <br />
    {% end %}
    {% end %}

   
    <div id="footer">
     
    </div>
   
  </body>
</html>