<div id="summary_table"><a name="summary_table"></a>
  <table id="agency_table">
    <thead>
      <tr>
	<th><a href="#" title="Click to Sort">Agency</a></th> 
	<th><a href="#" title="Click to Sort">Ideas</a></th> 
	<th><a href="#" title="Click to Sort">Votes</a></th>
	<th><a href="#" title="Click to Sort">Comments</a></th>
	<th><a href="#" title="Click to Sort">Idea Authors</a></th>
	<th>Get Involved!</th>
      </tr>
    </thead>
    <tbody>
      {% for agency, stats in stats_by_agency.iteritems() %}
      <tr>
	<td> 
	  <img src="{{ get_logo(agency) }}" class="table_logo">
	  <a href="{{ open_pages[agency] }}" title="Visit {{ display(agency) }}'s /open Page">{{ display(agency) }}</a> 
	</td>
	<td class="table_num">{{ stats['ideas'] }}</td>
	<td class="table_num">{{ stats['votes'] }}</td>
	<td class="table_num">{{ stats['comments'] }}</td>
	<td class="table_num">{{ len(stats['authors']) }}</td>
	<td class="table_num">
	  <a href="{{  encode_tweet(agency, stats, days_to_go) }}" 
	     class="table_link"> 
	    <img src="static/images/twitter.png" title="Tweet this"
		 class="agency_links"> 
	    <span class="table_small">Tweet This</span>
	  </a>
	  <a href="{{ ideascale_link[agency] }}" 	     
	     class="table_link">
	    <img src="static/images/redirect.png" width="20"
		 title="Visit this agency's Ideascale Site"
		 height="20" class="agency_links">
	    <span class="table_small">Visit Idea Page</span>
	  </a>
	</td>
      </tr>
      {% end %}
    </tbody>
  </table>
</div>
